/* Sidebar.module.css */

.sidebar {
  background-color: #003a10;
  min-height: 100vh;
  padding-left: 4vw;
  /* width: 50%; */
}

.logo {
  margin-top: 1.25rem;
  width: max(10vw, 100px);
}

.logoSmall {
  margin-top: 1.25rem;
  width: max(4vw, 40px);
  margin-right: 1.25rem;
}

.navContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #4b5563;
  /* text-gray-800 */
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 0.5rem;
  padding-right: max(8vw, 10px);
  box-shadow: -4px 4px #00ff58;
  font-size: 0.875rem;
  font-weight: 500;
}

.navLink img {
  width: 1.25rem;
  /* 5px */
}

.navLinkText {
  display: none;
}

@media (min-width: 640px) {

  /* sm breakpoint */
  .logo {
    display: block;
  }

  .logoSmall {
    display: none;
  }

  .navLinkText {
    display: block;
  }
}